.acms {
  margin-top: 1rem;

  .inner {
    padding: 0px 2rem 3rem;
  }

  .acm-item {
    margin-top: 1rem;
    background: #fff;
    padding: 0px .8rem;
    border-radius: .5rem;
    box-shadow: 0px 0px 7px 2px #dcdcdc;
    position: relative;

    &:before {
      content: " ";
      height: 0px;
      width: 0px;
      position: absolute;
      border-top: 8px solid transparent;
      border-right: 8px solid #fff;
      border-bottom: 8px solid transparent;
      left: -7px;
      top: 50%;
      margin-top: -7px;
    }

    .title {
      position: relative;
      padding: 0.8rem 0 .6rem;
      display: block;
      border-bottom: 1px solid #a7a7a7; 
      @include clearfix;
      h3 {
        position: relative;
        color: #000;
        padding-left: 1.6rem;
        &:before {
          content: "";
          display: inline-block;
          width: 1.3rem;
          height: 1.3rem;
          background: url(../misc/images/notice-icon.png);
          background-size: 96%;
          background-repeat: no-repeat;
          position: absolute;
          top: 50%;
          left: 0;
          margin-top: -.6rem;
        }
      }
    }

    .body {
      padding:.4rem 0 .8rem 0;
      color: #a7a7a7;
      line-height: 150%;
      span {
        float: right;
        color: #a7a7a7;
      }
    }
  }
}

.ancm-body {
  background: #eee;
}