.cards {
  @extend .bbin-items;
  margin-top: 1rem;

  &:before {
    display: none;
  }

  .card-item {
    @extend .bbin-item;
    background: #fff;
    color: #494846;
  }
}

body.cards-body {
  background: #eee;
}


.page-cardgame{
  .cards .card-item{
    height: auto;
    line-height: auto;
    .inner{
      padding: 1rem 0;
      img{
        width: 6rem;
        height: 6rem;
        margin-bottom: 1rem;
      }
    }
  }
}